@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Black.ttf');
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: RobotoCondensed;
    src: url('../fonts/RobotoCondensed-Bold.ttf');
    src: url('../fonts/RobotoCondensed-Light.ttf');
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}