@import url(loading-ripple.css);
@import url(animations.css);
@import url(fonts.css);

html{color:#FFF;font-family:Roboto;}
body{margin:0;}
h1{color:#FFF;font-size:23px;margin:0;}
a{color:#FFF;text-decoration:none;}
.loading-screen{height:100vh;position:fixed;width:100%;}
.loading-screen > .lds-css{bottom:0;height:200px;left:0;margin:auto;position:absolute;right:0;top:0;width:200px;}
.background{height:100vh;position:fixed;width:100%;z-index:1;}
.background > .bg-img{background:url(../images/bg.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;filter:blur(30px);height:120%;left:-10%;position:absolute;top:-10%;width:120%;z-index:0;}
.background > .bg-blurmask{background:rgba(32,22,82,0.65);height:100%;position:absolute;width:100%;z-index:1;}
.app{height:100vh;position:fixed;width:100%;z-index:2;}
.page{height:100vh;overflow:auto;width:100%;}
.op-logo{background:url(../images/end-logo.png);border-radius:100%;bottom:0;height:200px;left:0;margin:auto;position:absolute;right:0;top:0;width:200px;}
.op-text{bottom:70px;color:#fff;font-family:RobotoCondensed;font-size:12px;left:0;letter-spacing:3px;margin:0 auto;opacity:0.8;position:absolute;right:0;text-align:center;width:75%;}
.page > header{background:#ffffff1a;color:#fff;display:flex;font-size:25px;height:25px;justify-content:space-around;line-height:25px;padding:20px;position:fixed;width: calc(100vw - 40px);}
.page > header > .center{letter-spacing:5px;}
#mainmenu > .lets-start{background:rgba(32,22,82,0.60);height:200px;margin-top:65px;padding:20px;width:calc(100vw - 40px);}
#mainmenu > .levels{padding:20px;width:calc(100vw-40px);}
#mainmenu > .levels > a.level:last-child{margin-bottom:0;}
#mainmenu > .levels > a.level{background:rgba(32,22,82,0.4);display:grid;grid-template-columns:110px auto;grid-template-rows:40px 70px;height:110px;margin-bottom:20px;width:100%;}
#mainmenu > .levels > a.level > .lvl{font-family:Roboto;font-size:55px;font-weight:900;grid-column:1 / 2;grid-row:1 / 3;line-height:125px;text-align:center;}
#mainmenu > .levels > a.level > .name{line-height:70px;}
#mainmenu > .levels > a.level > .desc{font-size:13px;font-weight:100;margin-top:10px;width:80%;}
footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: calc(100vw - 40px);
    padding: 20px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.10);
}
footer > a.footer-btn {
    color: white;
    font-size: 25px;
    display: inherit;
}